{% extends "base.html" %}

{% block title %}Nosotros{% endblock %}

{% block content %}

    <section class="hero-section">
        <header id="inicio" class="header">
            <h1>Bienvenido a Árboles y Poda Chile</h1>
            <p>Cuidamos tus árboles, embellecemos tus espacios.</p>
        </header>
    </section>
    <main>
        <section id="prodcuto" class="cards-container"> 
            <h4 class="animated-title">¡Productos más vendidos!</h4>
            <br><br><br><br><br>
            <div class="cards">
                <div class="card">
                    <h3>producto1</h3>

                </div>
                <div class="card">
                    <h3>producto1</h3>
                </div>
                <div class="card">
                    <h3>producto1</h3>
                </div>
                <div class="card">
                    <h3>producto1</h3>
                </div>                
            </div>
            <div class="header"><a href="servicios" class="btn-primary">Ver mas</a></div>
        </section>

    
        <section id="servicios" class="cards-container">
            <h2>¡Cotiza con Nosotros!</h2>
            <div class="cards">
                <div class="card">
                    <h3>Correo</h3>
                    <a href="{% url 'correo' %}">
                        <img src="../static/media/contactos/correo.png" alt="Correo">
                    </a>
                    
                </div>
                <div class="card">
                    <h3>Whatsapp</h3>
                    <a href="https://wa.me/56968209129?text=Hola%20quiero%20cotizar%20un%20servicio" target="_blank">
                        <img src="../static/media/contactos/whatsapp.png" alt="Logo Whatsapp">
                    </a>
                    
                </div>
                <div class="card">
                    <h3>Instagram</h3>
                        <a href=""><img src="../static/media/contactos/instagram.png" alt=""></a>
                    
                </div>
            </div>
        </section>
        

        


    </main>  
  
    



{% endblock %}