{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Árboles y Poda{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'media/logo/logo.png' %}">
    
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            <a class="titulo-logo" href="{% url 'index' %}">
            <img src="../static/media/logo/logo.png" alt=""></a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            
        </ul>
        <button class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
            <p>&copy;2025 Todos los derechos reservados.</p>
    </footer>


    


    
</body>
</html>